<!--#region Collaborative -->
<section class="collaborative">
  <div class="container collaborative-container">
    <div class="collaborative-paragraph">
      <h4 class="small-title">Optimisation for</h4>
      <h2 class="main-section-title">Collaborative</h2>
      <p class="content-section">
        Few would argue that, despite the advancements of feminism over the past
        three decades, women still face a double standard when it comes to their
        behavior.
      </p>
      <ul>
        <li>
          <h3 class="item-title">Accessory makers</h3>
          <p class="section-list-content">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <h3 class="item-title">Alterationists</h3>
          <p class="section-list-content">
            If you are looking for a new way to promote your business that won't
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <div class="collaborative-img">
      <img
        src="./images/index/collaboration-img.png"
        alt="collaboration-img"
        width="540"
      />
    </div>
  </div>
</section>
<!--#endregion Collaborative -->
