<!-- #region header -->
<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo">
        <svg class="logo-svg" width="40" height="36">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        Product</a
      >

      <ul class="list-navigation">
        <li class="item-navigation">
          <a href="./index.html" class="current-link">Product</a>
        </li>
        <li class="item-navigation">
          <a href="./pricing.html" class="link-navigation">Pricing</a>
        </li>
        <li class="item-navigation">
          <a href="./customers.html" class="link-navigation">Customers</a>
        </li>
        <li class="item-navigation">
          <a href="./resourses.html" class="link-navigation">Resources</a>
        </li>
      </ul>
    </nav>

    <ul class="header-list-button">
      <li class="header-item-button">
        <button type="button" class="btn-sing-in">Sing In</button>
      </li>
      <li class="header-item-button">
        <button type="button" class="btn-sing-up">Sing Up</button>
      </li>
    </ul>

    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="28" height="31">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
<!-- #endregion header -->
