<!-- #region hero -->
<section class="hero">
  <div class="container hero-container">
    <div class="hero-main-text">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-content">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-list-buttons">
        <li>
          <button type="button" class="btn-start">Get started</button>
        </li>
        <li>
          <button type="button" class="btn-watch">
            <svg class="icon-triangle" width="20" height="18">
              <use href="./images/icons.svg#icon-triangle"></use>
            </svg>
            Watch the Video
          </button>
        </li>
      </ul>
    </div>

    <img
      class="hero-img"
      src="./images/index/hero-img.png"
      alt="people communicating"
      width="610"
    />
  </div>
</section>
<!-- #endregion hero -->
