<!--#region Management -->
<section class="management">
  <div class="container management-container">
    <div class="management-paragraph">
      <h4 class="small-title">Effortless Validation for</h4>
      <h2 class="main-section-title">Management</h2>
      <p class="content-section">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="management-list">
        <li>
          <h3 class="item-title">Accessory makers</h3>
          <p class="section-list-content">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <h3 class="item-title">Alterationists</h3>
          <p class="section-list-content">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <div class="management-image">
      <img
        src="./images/index/management-img.png"
        alt="files"
        width="540"
        height="500"
      />
    </div>
  </div>
</section>
<!--#endregion Management -->
