<!-- #region process  -->

<section class="process">
  <div class="container process-container">
    <h2 class="process-title">Quick & Easy Process</h2>
    <p class="process-content">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="process-list">
      <li class="process-list-item">
        <picture>
          <source
            srcset="
              ./images/index/avatar1.jpg    1x,
              ./images/index/avatar1@2x.jpg 2x
            "
          />
          <img src="./images/index/avatar1.jpg" alt="avatar1" />
        </picture>
        <p class="process-title-content">I can take care of your pitch</p>
      </li>
      <li class="process-list-item">
        <picture>
          <source
            srcset="
              ./images/index/avatar2.jpg    1x,
              ./images/index/avatar2@2x.jpg 2x
            "
          />
          <img src="./images/index/avatar2.jpg" alt="avatar2" />
        </picture>
        <p class="process-title-content">I can prototype your app</p>
      </li>
      <li class="process-list-item">
        <picture>
          <source
            srcset="
              ./images/index/avatar3.jpg    1x,
              ./images/index/avatar3@2x.jpg 2x
            "
          />
          <img src="./images/index/avatar3.jpg" alt="avatar3" />
        </picture>
        <p class="process-title-content">I can take care of your pitch</p>
      </li>
      <li class="process-list-item">
        <picture>
          <source
            srcset="
              ./images/index/avatar4.jpg    1x,
              ./images/index/avatar4@2x.jpg 2x
            "
          />
          <img src="./images/index/avatar4.jpg" alt="avatar4" />
        </picture>
        <p class="process-title-content">I can help marketing strategy</p>
      </li>
    </ul>
  </div>
  <button class="contact-us" type="button">Contact our expert</button>
</section>

<!-- #endregion process  -->
