<!--#region Specifically -->
<section class="specifically">
  <div class="container specifically-container">
    <h2 class="specifically-title">Product was Built Specifically for You</h2>
    <ul class="cards">
      <li class="card-item">
        <svg class="card-icon" width="51" height="50">
          <use href="./images/icons.svg#icon-click"></use>
        </svg>
        <h3 class="card-title">First click tests</h3>
        <p class="card-content">While most people enjoy casino gambling,</p>
      </li>

      <li class="card-item">
        <svg class="card-icon" width="51" height="50">
          <use href="./images/icons.svg#icon-surveys"></use>
        </svg>
        <h3 class="card-title">Design surveys</h3>
        <p class="card-content">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </li>

      <li class="card-item">
        <svg class="card-icon" width="51" height="50">
          <use href="./images/icons.svg#icon-preferences"></use>
        </svg>
        <h3 class="card-title">Preference tests</h3>
        <p class="card-content">The Myspace page defines the individual.</p>
      </li>

      <li class="card-item">
        <svg class="card-icon" width="51" height="50">
          <use href="./images/icons.svg#icon-time"></use>
        </svg>
        <h3 class="card-title">Five second tests</h3>
        <p class="card-content">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <div class="btn-wrap">
      <button type="button" class="card-btn">SIGN UP NOW</button>
    </div>
  </div>
</section>
<!--#endregion Specifically -->
