<!--#region Support -->
<section class="support">
  <div class="container support-container">
    <div class="support-img">
      <img src="./images/index/support-img.png" alt="support" width="540" />
    </div>
    <div class="support-paragraph">
      <h4 class="small-title">Easier decision making for</h4>
      <h2 class="main-section-title">Customer Support</h2>
      <p class="content-section">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="support-list">
        <li class="support-item-content">
          <svg class="icon-support" width="35" height="35">
            <use href="./images/icons.svg#icon-checkorange"></use>
          </svg>
          <p class="item-text-support">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="support-item-content">
          <svg class="icon-support" width="35" height="35">
            <use href="./images/icons.svg#icon-checkred"></use>
          </svg>
          <p class="item-text-support">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-item-content">
          <svg class="icon-support" width="35" height="35">
            <use href="./images/icons.svg#icon-checkblue"></use>
          </svg>
          <p class="item-text-support">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--#endregion Support -->
