/* :root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Montserrat", sans-serif;
    --font3: "FontAwesome", sans-serif;
    --font4: "Roboto", sans-serif;
    --font5: "ProximaNova", sans-serif;
    --font6: "Asap Condensed", sans-serif;
    } */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--text);
  background-color: var(--white-background);
}