/* #region footer */

.footer {
  padding: 50px 0;
}

.footer-container {
  text-align: center;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.9;
  color: #173a56;
  margin-bottom: 25px;
}

.soc-nav-wrap {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icons-link {
  width: 40px;
  height: 40px;
  background-color: #edfffc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
}

.footer-icons-link:hover,
.footer-icons-link:focus-within {
  background-color: #02897a;
}

.icon-soc-nav {
  stroke: #02897a;
  fill: none;
}

.icon-soc-nav:hover,
.icon-soc-nav:focus-within {
  stroke: #edfffc;
}

.footer-info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
}

.footer-info-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
  color: #22343d;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
}

.footer-info-item:hover,
.footer-info-item:focus-within {
  color: #02695f;
  cursor: pointer;
}

.footer-info-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 325px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.footer-input-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 34px;

}

.footer-input-wrap {
  position: relative;
  margin-bottom: 25px;
}

.footer-input {
  width: 325px;
  height: 48px;
  padding-left: 42px;
  background-color: transparent;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus,
.footer-input:hover {
  border: 1px solid #02695f;

}

.footer-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: #02897a;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;

}

.footer-input:focus+.footer-input-icon,
.footer-input:hover+.footer-input-icon {
  fill: #02695f;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.footer-btn {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 131px;
  height: 39px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #02897a;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  margin-bottom: 44px;
}


.footer-btn:hover,
.footer-btn:focus {
  color: #02695f;
  background-color: #fff;
  border: 1px solid #02695f;
}

.made-by {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.18;
  color: #22343d;
  text-align: center;
}

@media screen and (min-width: 1150px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-logo {
    margin-right: 146px;
    font-size: 30px;
    margin-bottom: 18px;
  }

  .logo-svg {
    width: 40px;
    height: 36px;
  }

  .soc-nav-wrap {
    justify-content: left;
  }

  .footer-info {
    margin-right: 129px;
    text-align: left;
  }

  .footer-info-input {
    align-items: start;
  }

  .footer-info:last-of-type {
    margin-right: 83px;
  }

  .footer-input-title {
    text-align: left;

  }

  .footer-input-wrap {
    justify-content: left;
  }

  .footer-btn {
    margin-bottom: 12px;

  }
}

/* #endregion footer */