/* #region Specifically */

.specifically {
  padding: 50px 0;
}

.specifically-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin: 0 auto 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.card-item {
  max-width: 225px;
  text-align: center;
}

.card-title {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}

.card-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #22343d;
  margin-bottom: 50px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-btn {
  border-radius: 4px;
  min-width: 175px;
  height: 53px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card-btn:hover,
.card-btn:focus {
  color: #02695f;
  transform: translateY(-2px);
  background-color: #fff;
}

@media screen and (min-width: 1150px) {

  .specifically-title {
    max-width: 500px;
  }

  .cards {
    flex-direction: row;
    column-gap: 30px;
  }

  .card-item {
    width: calc((100% - 90px) / 4);
    text-align: start;
  }

  .card-icon {
    width: 54px;
    height: 61px;
  }
}

/* #endregion Specifically */